[2018-04-22 10:26] vishalvasoya opened #1 "How to check AutoStart option is on or off ???"
your solution has completed and its works properly ,
but how to know AutoStart permission is on or off in android device.
How to check AutoStart option is already on for my App in Xiaomi (oppo / vivo) phone Security App programmatically in android ,

[2018-04-22 10:29] judemanutd commented on #1
In short you can't. The only way is to redirect the user to the screen, android gives you no control over what happens on that screen, at best you could keep a flag so whenever that screen is opened you could alternate the flag.

[2018-04-23 10:07] vishalvasoya commented on #1
Thanks very much for your response.... 😊

On Sun, Apr 22, 2018, 3:59 PM Jude Fernandes <notifications@github.com>
wrote:

[2018-04-23 13:47] #1 closed

[2018-06-22 04:01] mansya opened #2 "New logo/Icon"
Hi, I am a graphic designer, I want to help others in graphic design.

After I reviewed your project, you have no logo on this project. Therefore I want to contribute to this project by creating a new logo / icon. what do you think?

[2018-06-22 04:09] judemanutd commented on #2
@mansya sounds like a nice idea, did you've something in mind, I don't mind giving you credits for the design in the description

[2018-06-25 09:55] judemanutd commented on #2
I like the colored one with just the logo, why don't you go ahead and make a pull request.

[2018-06-25 19:18] mansya commented on #2
I have upload all files to this link.
https://drive.google.com/open?id=1Vi8XNJgPjE0mWC5dCZxvQuhgvUAqmBpO

and i have to sent you Pull Request. please check

[2018-06-26 11:48] judemanutd commented on #2
@mansya thanks

[2018-06-26 11:48] #2 closed

[2018-07-11 12:10] zoptaltechnical opened #4 "Opens Settings screen again if Autorun permission is already enabled."
It opens Settings screen again if autorun permission is already enabled by user

[2018-07-11 13:04] judemanutd commented on #4
Hey, given that this is more on an OEM specific feature, there isn't any api that can be used to check if the user has checked autorun or not, I would suggest maintaining a local flag to see if the user visited the screen but there are also chances where the user visited the screen but never checked the autorun button.

[2018-07-15 07:51] #4 closed

[2018-07-20 10:36] zoptaltechnical commented on #4
"I would suggest maintaining a local flag to see if the user visited the screen but there are also chances where the user visited the screen but never checked the autorun button." - This is main problem you know for creating this issue , I guess this cannot be handled .

[2018-08-05 18:34] jschhabra opened #5 "OnePlus"
I am facing similar issue on OnePlus. Do you know how to support OnePlus device running on android 8.1

[2018-08-05 18:52] judemanutd commented on #5
Hey @jschhabra, unfortunately  I do not have access to a OnePlus device so I have not got a chance to figure out its mechanisms yet, you can follow this thread where a developer has a similar issue with a OnePlus device, you might find an answer there.

[https://github.com/invertase/react-native-firebase/issues/1238#event-1771122177](url)

[2018-08-05 19:05] jschhabra commented on #5
Thanks,
It helped!

[2018-08-05 19:06] #5 closed

[2018-12-24 13:10] amitdoiphode11 opened #6 "How to check if autostart permission is enabled or not?"
"I would suggest maintaining a local flag to see if the user visited the screen but there are also chances where the user visited the screen but never checked the autorun button." - This is main problem you know for creating this issue , I guess this cannot be handled .

_Originally posted by @zoptaltechnical in https://github.com/judemanutd/AutoStarter/issues/4#issuecomment-406562267_

[2018-12-24 16:11] judemanutd commented on #6
I am open to pull requests but I do not currently see any open api in android that could be used to achieve this.

[2018-12-25 11:49] #6 closed

[2019-01-24 06:14] eranilsharma opened #7 "can't build project after adding this dependencies please help me"
Task :app:mergeDebugResources

Gradle may disable incremental compilation as the following annotation processors are not incremental: butterknife-compiler-8.2.1.jar (com.jakewharton:butterknife-compiler:8.2.1), auto-service-1.0-rc2.jar (com.google.auto.service:auto-service:1.0-rc2).
Consider setting the experimental feature flag android.enableSeparateAnnotationProcessing=true in the gradle.propert

[2019-01-24 08:48] judemanutd commented on #7
From the looks of it, it seems that you have crossed the 65k method limit, you might have to enable multidex.

Could you post your project and app `build.gradle` files

[2019-01-24 11:42] judemanutd commented on #7
I haven't got the opportunity to work with those phones so unfortunately I can't help you with those yet, have you tried going to the autostart manager or battery optimizations manager ( the settings are usually under similar names ) and adding your app to it and checking if it atleast works then?

[2019-01-24 11:57] eranilsharma commented on #7
can i get any helping link or example

[2019-01-27 16:00] #7 closed

[2019-04-09 13:06] anilthummar opened #10 "not working in Letv x2"
i am not getting any dialog for auto start permission screen in letv x2 phone, i have used your library, -->implementation 'com.github.judemanutd:autostarter:1.0.1
-- >AutoStartPermissionHelper.getInstance().getAutoStartPermission(getApplicationContext());
***********************

Then i have used other code :
if ("Letv".equalsIgnoreCase(manufacturer)) {
                intent.setComponent(new Com

[2019-04-09 18:52] judemanutd commented on #10
@anilthummar could you tell me which version of the UI you are using.

[2019-04-10 06:38] anilthummar commented on #10
Hello Jude Fernandes,
Thanks for the updates.
LETV Mobile    --  EUI Version 5.8.019S  ,  --- Android OS v- 6.0.1

[2019-04-10 09:59] povphearom commented on #10
Dear Judemanutd
I tested with OPPO F9 not working. Do you have any solution this issue?

[2019-05-29 08:23] Narasimham1220 opened #12 "it's not working in real me 2 pro"

[2019-05-29 10:04] judemanutd commented on #12
Unfortunately I don't have access to a realme phone so I've never had the chance to figure out which packages are the ones that start the respective  permission settings, you're most welcome to do so and create a pull request to the library that would help alot of people

[2019-06-13 05:18] aaryan1 opened #13 "it is of no use"
it did not work  on vivo phone

[2019-06-13 12:22] Thornith opened #14 "Not working with OPPO F9"
Dear friend
I used your solution but not work with OPPO F9 and F11

[2019-06-13 15:46] judemanutd commented on #14
@Thornith thanks for trying this out, unfortunately as mentioned this has not been tested on a vivo or oppo phone but I am welcome to any pull requests that support these phones or any other.

[2019-06-13 15:46] judemanutd commented on #13
@aaryan1 As mentioned this has not been tested on a vivo or oppo phone but I am welcome to any pull requests that support these phones or any other.

[2019-06-16 14:10] #13 closed

[2019-07-22 17:15] mu-hasan opened #16 "[Feature Request] Callback when failed"
I think you need to add a callback when device isn't supported yet or device use custom ROM (or something) so the "package" not found. Because I haven't `catch` any `Exception`. I want to create this feature and pull request but I'm not familiar with kotlin :smile: :v:

[2019-07-27 19:39] OlegTarashkevich opened #17 "Other devices"
Hi @judemanutd

Thank you for the superb library!

Do you plan to add more devices.
I suppose that you can found some more devices from here: https://github.com/thelittlefireman/AppKillerManager

[2019-07-27 19:58] judemanutd commented on #17
Hey @OlegTarashkevich thank you. I took an initial look at the library, looks good. I will try and integrate what I can, when I can from that library and credit the author. In the meantime I'm definitely open to pull requests so any contibution is most welcome.

[2019-07-30 15:28] Chuque commented on #16
Will be better to also add a function to return a boolean that indicates if the autostart permission is found. This way the dev can disable the button for this permission on activity onCreate() or handle it in some other way. Below is a code in java that can be used to achieve this.

    Intent autoStartIntent = new Intent();
            autoStartIntent.setComponent(new ComponentName("manufacturer

[2019-10-12 02:47] rayworks commented on #14
Came across the same issue on OPPO R15 (OS 8.1.0).

[2019-11-20 16:21] rakeshcoresoft opened #19 "Not working on OPPO"
Try to fix the issue

[2019-11-20 19:38] svallejos opened #20 "Problems with Xiaomi (redmi brand)"
Some smartphones return _redmi_ instead of _xiaomi_ when invoking _Build.BRAND.toLowerCase()_. The packages still have the same names (_com.miui.securitycenter_ and _com.miui.permcenter.autostart.AutoStartManagementActivity_). The solution may be just adding a second constant _BRAND_XIAOMI_2 = redmi_.

You can recreate this situation with a Xiaomi Note Pro 8.

PD: sorry for my bad english

[2019-11-20 19:56] judemanutd commented on #20
Thanks @svallejos , I have access to a redmi note 7 which should also fall under the redmi brand so I'll test it out and have that update pushed up. Good catch!! Thanks again!

[2019-11-20 19:59] judemanutd commented on #19
Hi @rakeshcoresoft which model of OPPO is the issue currently on?

[2019-11-20 21:12] svallejos commented on #20
Thank you! Your code was very useful. I have make an adaptation of your helper in my Android project to avoid problems with brand names: If a _known main package_ exists, i just try to start the activity with every possible _known component name related to that package_. It worked for me. I leave the code in case it is useful for you. It is in Java, but you can program it in kotlin easily.

[code]

[2019-11-23 11:58] #16 closed

[2019-11-23 11:58] #20 closed

[2019-11-23 12:02] judemanutd commented on #20
@svallejos thanks for the snippet, I've held off on implementing brute force as of now because I really don't know what kind of devices the library is being used in and the load that would be there at the time the library is called so its safer to use brands as of now.

[2019-11-23 12:06] judemanutd commented on #19
@rakeshcoresoft closing this issue, please follow #14 for any updates regarding OPPO.

[2019-11-23 12:06] #19 closed

[2019-11-27 11:05] enriquejuan2 opened #22 "Is it possible to enable autostart on Techno phones"
All techno phones have issues with autostart, is it possible to enable autostart on them?

[2019-11-27 11:22] judemanutd commented on #22
Hey @enriquejuan2 I'm based in India and I don't think techno sells over here and without the actual device its pretty much impossible to get the package name that relates to the auto start screen.

If you do have access to the phone, just plug it in and take a look at logcat for the packages that are called, you only need the package name ( could look something like this `com.xxx.securitycenter`

[2019-11-27 11:29] enriquejuan2 commented on #22
Hi @judemanutd Thanks for the quick reply. I have the actual device let me try to get to the autostart screen and get the activity name and package name.

[2019-11-27 11:39] judemanutd commented on #22
Awesome, It's going to be quite a bit of trial and error but I think you can look out for words like autostart, powersaver, optimize, startup,

[2019-11-30 13:39] ItsKlork opened #23 "Errors on xiaomi device"
`W/System.err: com.judemanutd.autostarter.AutoStartPermissionHelper.startIntent(AutoStartPermissionHelper.kt:268)`

I get 5 more errors when doing `AutoStartPermissionHelper.getInstance().getAutoStartPermission(getApplicationContext());`

get this on a xiaomi device. help?

[2019-11-30 14:47] judemanutd commented on #23
Could you post the entire error log please

[2019-12-02 05:09] pahnpiseth opened #24 "How to check autstart already enable?"
How to check autstart already enable?

[2019-12-02 06:35] judemanutd commented on #24
There isn't a way, this isn't a native android api, so there's nothing to query here. You need to maintain maybe a shared preference to keep track of whether the user performed the action or not, there's not way to no if the action was a success or a faliure.

[2019-12-04 11:56] atishagrawal commented on #14
Not working on OPPO CPH1609
Android 6.0

[2019-12-04 17:15] #24 closed

[2019-12-07 06:28] ItsKlork commented on #23
im trying this on the xiaomi redmi note 7

[2019-12-07 09:22] judemanutd commented on #23
@ItsKlork  Just tried it out on the redmi note 7 and works fine. Could you post the error log along with the android version and miui version on the phone.

Have you run the example app from the repo, does that work?

[2019-12-07 09:28] ItsKlork commented on #23
2019-12-07 11:28:04.696 21706-21706/com.dev.mapup W/System.err:     at com.judemanutd.autostarter.AutoStartPermissionHelper.startIntent(AutoStartPermissionHelper.kt:268)
2019-12-07 11:28:04.696 21706-21706/com.dev.mapup W/System.err:     at com.judemanutd.autostarter.AutoStartPermissionHelper.autoStartXiaomi(AutoStartPermissionHelper.kt:122)
2019-12-07 11:28:04.697 21706-21706/com.dev.mapup W/Syst

[2019-12-07 09:29] ItsKlork commented on #23
nothing is happening

[2019-12-07 11:16] judemanutd commented on #23
@ItsKlork  Which miui version are you on?

[2019-12-07 11:33] ItsKlork commented on #23
MIUI Global 11.0.4

[2019-12-08 05:41] judemanutd commented on #23
Got the same phone with the same version, works perfectly fine, no clue what's up.

[2019-12-08 05:42] judemanutd commented on #23
If you could create a separate repo recreating this exact bug I could give this a try else looks like there's something local to your phone that's causing the issue

[2019-12-09 07:39] ItsKlork commented on #23
How should I use the AutoStarter in code (in onCreate)? Just to be sure

[2019-12-09 07:44] judemanutd commented on #23
Yep that should work fine, it doesn't really depend on any activity lifecycle as such but any lifecycle events after onCreate should be more than safe to use the code in, instead of using the application context try using the activity context instead and see if that works

[2019-12-12 12:54] NoHarmDan opened #25 "Huawei and Samsung support"
Hi, first of all, you got a great library, very lightweight and easy to use!

Since the readme mentions **Huawei** devices not being tested, I took the liberty of doing so on two devices I have available.

- P9 lite mini (**SLA-L22**) running **Android 7.0 and EMUI 5.1.3**. This one **works perfectly** with the intent present in the library.

- Y6 2019 (**MRD-LX1**) running **Android 9 and EMUI 9.

[2019-12-19 05:57] judemanutd commented on #25
@NoHarmDan dude!! **thank you** :100:

Thanks for testing those out, I'll definitely update the readme and add those to the library. At this point its pretty much a combination of various activity names and brute force to get it working since the package names keep changing but thanks again for taking the time to do this.

I'm a little busy but I'll get to this over the weekend and have these chan

[2019-12-22 18:41] #25 closed

[2020-01-06 09:59] NoHarmDan opened #27 "Huawei update not working perfectly"
I'm really glad I could help and happy that you incorporated my suggestions!

There is however one small issue with it - the line with the comment should either return true or not be there at all, which would make it fall down to the `return true` at the very end of the function body. At the current state, it positively opens the required "fallback" screen, but returns false, causing any dependent

[2020-01-07 12:35] NoHarmDan opened #28 "Wrong activity on older Asus devices"
It's me again!

The activity `com.asus.mobilemanager.powersaver.PowerSaverSettings` doesn't exist on Asus with Android 5. However, through my immeasurable skills of reverse engineering, I have found the right one that does exist:
[code]

Don't know which version of Android has which, so I guess just consider adding a fallback to this activity if the current one is not found.

[2020-01-07 12:48] judemanutd commented on #28
immeasurable skills indeed :100: @NoHarmDan keep em coming, this will be super useful to everyone using this library. I saw the other issue as well that you created, thanks for that. I'm a little busy during the week but will take a look at both of those issues and make the necesarry changes.

[2020-01-10 09:36] captain-miao opened #29 "simple code for check intent is exist"
[code]

[2020-01-12 06:53] judemanutd commented on #27
@NoHarmDan thanks for catching that bug, I'm on it.

1. With regards to the exceptions, could you give me an example of what you're looking for?
   - For example with Huawei, it currently has 3 combinations that need to be tried before losing all hope. The only exception at this point I can think of throwing is that no activity found, is there something that you had in mind?

2. Checking for activ

[2020-01-12 06:57] judemanutd opened #30 "Overhaul activity checking to be cleaner"
Original Issue : https://github.com/judemanutd/AutoStarter/issues/27

Helper Issue : https://github.com/judemanutd/AutoStarter/issues/29

Code snippet that should help

[code]

[2020-01-12 07:15] #28 closed

[2020-01-12 07:37] judemanutd commented on #29
thanks @captain-miao , I've added this to the existing roadmap and should be integrated once the [v2](https://github.com/judemanutd/AutoStarter/milestone/1) is complete

[2020-01-12 07:37] judemanutd commented on #23
closing this issue as there is no further action to be taken

[2020-01-12 07:37] #23 closed

[2020-01-16 20:20] mniami opened #32 "Checking whether it was already autostarted"
It's more like a question than an issue, however I couldn't find any good place for asking.
Do you see it useful to add verification whether the app was already autostarted or not?
Of course if it is possible.

[2020-01-17 16:33] judemanutd commented on #32
Please check #4 .

[2020-01-17 18:50] #32 closed

[2020-01-19 14:51] radheyshyamjat opened #33 "Not Working in Samsung Galaxy M20"
android.content.ActivityNotFoundException: Unable to find explicit activity class {com.samsung.android.lool/com.samsung.android.sm.ui.battery.BatteryActivity}; have you declared this activity in your AndroidManifest.xml?
System.err:     at android.app.Instrumentation.checkStartActivityResult(Instrumentation.java:2069)
W/System.err:     at android.app.Instrumentation.execStartActivity(Instrumentati

[2020-01-30 08:41] karlmarxlopez opened #34 "[Feature Request] Add support for OnePlus devices"
Hi, is it possible to support OnePlus devices? [AppKillManager has an implementation for this](https://github.com/thelittlefireman/AppKillerManager/blob/master/appkillermanager/src/main/java/com/thelittlefireman/appkillermanager/devices/OnePlus.java)

[2020-01-31 17:18] judemanutd commented on #34
Hey @karlmarxlopez, I can surely include that although I cannot really verify if it is still applicable. OEM's often change their package names. Can you verify that it currently works using that library?

[2020-02-01 10:26] mobidev36 opened #35 "This app is not listed in vivo autostart activity."
I test in vivo(model=vivo 1851,android=9) mobile.

[2020-02-01 12:24] karlmarxlopez commented on #34
Hi, thank you! I don't have access to a OnePlus device as of the moment. Can you publish it as beta so that we can test it when we have a device?

[2020-02-01 12:45] judemanutd commented on #34
Sure, that seems do-able. I'll get that sorted soon.

[2020-02-02 06:52] #34 closed

[2020-02-02 06:52] judemanutd commented on #34
@karlmarxlopez pushed up a new updated to the library v1.0.8. Give it a try and let me know if it works.

[2020-02-02 06:56] judemanutd commented on #17
added support for one plus from the https://github.com/thelittlefireman/AppKillerManager in the current version of autostarter, planning on adding more soon.

[2020-02-18 08:41] okalman opened #36 "OnePlus 6"
Hello in the newest version there is experimental OnePlus support. I'd like to report an issue on OP6, where the intent is not working since there is no activity to be opened. I'd also like to mention that I didn't notice any issues on recent OP models in a conjunction wit applications auto-start capabilities.

[2020-02-18 19:13] judemanutd commented on #36
Hey @okalman thanks for trying out the library, I don't have access to an OP6 so lets hope a good samaritan comes along and helps us debug the issue or better yet create a pull request for it.

That's great news if apps don't require being added to auto start lists and all sorts of weird battery optimizations to get them working in the background flawlessly. :+1:

[2020-03-05 02:18] Luisstevie opened #37 "Not working in Samsung note 10"
I got an exception here. Activity Not found exception
` try {
                startIntent(context, PACKAGE_SAMSUNG_MAIN, PACKAGE_SAMSUNG_COMPONENT)
            } catch (e: Exception) {
                e.printStackTrace()
                return false
            }`

[2020-03-05 15:34] judemanutd commented on #37
Hey @Luisstevie thanks for the notice, this library depends on crowd sourcing very heavily since one person doesn't have all the phones that can be tried and tested to figure out which package works, it would be great to have a pull request for the version of samsung phone that you are currently testing it on.

[2020-03-05 15:35] #22 closed

[2020-03-07 18:14] giudon010 opened #38 "Problem with Huawei P10"
Hello,
I just want to report a problem with Huawei P10.

In the "autoStartHuawei" method, if the intent "PACKAGE_HUAWEI_COMPONENT" exist and gets correctly called, but also exist the intent "PACKAGE_HUAWEI_COMPONENT_FALLBACK", the second one don't get called because the first one do not throw an exception.

Is this wanted?

Best regards, and thank you for your wonderful library

[2020-03-08 18:06] judemanutd commented on #38
Hey @giudon010  thanks, the library essentially is looking for a combination of package names so if huawei changes their package names, there is a very good chance it would either not find the package or it would find 1 and not the next one because huawei shuffed them up, did the current setup of the library open up the autostart on the P10?

[2020-03-09 10:52] giudon010 commented on #38
Hello  @judemanutd, thank your for your answer.

No, the current setup doesn't work.

I try to explain better the trouble, because it's a "rare case", but it happens.

On My Huawei P10 (Android 8.0.0, EMUI 8.0.0), are available both Intents that you check with AutoStarter:

- private val PACKAGE_HUAWEI_COMPONENT = "com.huawei.systemmanager.optimize.process.ProtectActivity"
- private val PACKAGE_HU

[2020-03-09 15:24] judemanutd commented on #38
That actually helps alot, thanks for taking the time and debugging this. I'll probably implement that last suggestion that you made and keep both intents just so that it can work with older devices as well since that was the one that worked initially. I'll have to wait until the weekend to actually make a change and have it up but in the mean time if you can make a pull request instead that would

[2020-04-09 16:29] bookem-dano opened #39 "Wake"

[2020-04-09 17:22] judemanutd commented on #39
Hey @bookem-dano could you provide a little more information about the issue

[2020-05-01 19:01] webserveis opened #40 "Realme 5 pro with Realme ui"
Extract with `adb shell dumpsys activity recents`

Screen app settings start
[code]

[2020-05-08 21:31] riyaistar commented on #34
I have a device of one plus 6 with oxygen version and i am getting the below exception

2020-05-09 02:58:32.676 3670-3670/? W/System.err: android.content.ActivityNotFoundException: Unable to find explicit activity class {com.oneplus.security/com.oneplus.security.chainlaunch.view.ChainLaunchAppListActivity}; have you declared this activity in your AndroidManifest.xml?
2020-05-09 02:58:32.676 3670-3

[2020-05-21 10:02] linuxgg opened #41 "Note working on Xiaomi Redmi Note 7"
`AutoStartPermissionHelper.getInstance().isAutoStartPermissionAvailable(getApplicationContext())`

gives `true` as init installed(no any special action, just click apk and install).
And there's no action after call `  AutoStartPermissionHelper.getInstance().getAutoStartPermission(getApplicationContext());`

[2020-05-21 13:04] praveenbbhati opened #42 "AndroidRuntimeException: Calling startActivity()"
Hi,

I'm using this library via a [flutter plugin.](https://pub.dev/packages/autostart)

Device: OnePlus 7 GM1901
OS: Oxygen OS 10.3.2GM57AA

it returns true for isAutoStartPermissionAvailable

any help is appreciated.

Logs :
`W/System.err(28183): android.util.AndroidRuntimeException: Calling startActivity() from outside of an Activity  context requires the FLAG_ACTIVITY_NEW_TASK flag. Is this re

[2020-06-05 11:13] akshaybhange commented on #36
Hey @okalman I got the same issue with OnePlus 7T. please check if oneplus has changed the settings.

[2020-06-09 18:03] adolgiy opened #43 "Honor 9C - Nothing was opened"

[2020-06-19 10:44] varungupta85 opened #44 "Add Tecno mobile and Infinix to the supported devices"
We get a good amount of tickets from the following two manufacturers that seem to have the auto-start setting:

Tecno Mobile - https://www.tecno-mobile.in/home/
Infinix - https://www.infinixmobiles.in/

I don't have these two phones in my test inventory. So, I can't figure out the instructions myself but it will be great help to support these manufacturers.

[2020-06-23 08:00] JeanChristophePal opened #45 "[OnePlus 7 Pro] getAutoStartPermission exception"
`W/System.err: android.content.ActivityNotFoundException: Unable to find explicit activity class {com.oneplus.security/com.oneplus.security.chainlaunch.view.ChainLaunchAppListActivity}; `

[2020-06-25 02:09] minuhariharan commented on #42
I am also facing the same issue and unable to use this plugin, what is the fix for this? I am getting this issue for getAutoStartPermission() for One Plus, Redmi

[2020-06-28 22:43] githinji84 opened #47 "Tecno and Infinix"
Hi,

Thank you for developing this library. Have you been able to add more manufacturers? I am specifically looking for Tecno and Infinix. I am building an app in Africa and they are the biggest OEMs here. like 70% of my user base can not receive notifications.

If not, do you have any ideas on how to get the intent I need to call for this 2 OEMs. i have searched for contacts to their developer su

[2020-06-29 00:03] Xxshark888xX commented on #47
Hi,

If you own a phone of this brand, you should use adb in order to try to get the intent. Without owning the phone is impossible to discover the intent, nor to test if it does work or not

[2020-06-29 01:48] githinji84 commented on #47
@Xxshark888xX Thanks. Yes I do have a Tecno with me but I am not as experienced using adb. Do you think you could point me to the actual command to run to discover this intent or a high level explanation on how to get to that intent on abd so that that can help narrow down my research

[2020-06-29 08:08] Xxshark888xX commented on #47
You could open your OEM battery optimization app / settings and on adb run this command

[code]

Then you must check manually the output (will not be funny and easy)

[2020-06-29 14:17] judemanutd commented on #39
closing this due to lack of information

[2020-06-29 14:17] #39 closed

[2020-06-29 14:20] judemanutd commented on #43
@adolgiy I would urge you to follow the same steps mentioned in https://github.com/judemanutd/AutoStarter/issues/47#issuecomment-651002811 and post the result here in order to get the latest intent.

[2020-06-29 14:21] judemanutd commented on #42
@minuhariharan could you take a look at the steps mentioned in https://github.com/judemanutd/AutoStarter/issues/47#issuecomment-651002811 and post the results here once you have them, this should allow for better debugging.

[2020-06-29 14:23] judemanutd commented on #44
Closing this issue, please follow #47 since the user that reported the issue does have access to the two phones.

[2020-06-29 14:23] #44 closed

[2020-06-29 14:24] judemanutd commented on #45
@JeanChristophePal  I would urge you to follow the same steps mentioned in https://github.com/judemanutd/AutoStarter/issues/47#issuecomment-651002811 and post the result here in order to get the latest intent.

[2020-06-29 14:55] adolgiy commented on #43
@judemanutd i've got about 8k lines. should I search for something specific?

[2020-06-29 15:05] adolgiy commented on #43
@judemanutd this line looks suitable:
`ActivityRecord{7bf58df u0 com.huawei.systemmanager/.power.ui.PowerWholeCheckActivity t869}`

[2020-06-29 15:42] judemanutd commented on #43
The basic idea here is trial and error until you get the screen that opens up the activity. For example in case of a Xiaomi phone you have a package name `com.miui.securitycenter` and a component name in that package `com.miui.permcenter.autostart.AutoStartManagementActivity`. Once you have those 2, you basically try

[code]

In your case you could try

[code]
Looks like something is missing here

[2020-06-29 19:20] Xxshark888xX commented on #34
If you still have access to that device, you should use adb in order to find the correct intent.

Check the https://github.com/judemanutd/AutoStarter/issues/47#issuecomment-651002811

[2020-07-02 08:25] adolgiy commented on #43
meh, something is really missing 😞

[2020-07-04 07:47] alperenbabagil opened #48 "Turkish I-ı character"
When taking brand names the code lowercases it with the phone's locale. But it generates a problem in Turkish language devices. For example HUAWEI lowercased as "huaweı" and it is not equal to "huawei" obviously. I think there is no need for the phone's locale when lowercasing because device brand names are all returned in ASCII characters.

[2020-07-04 09:24] judemanutd commented on #48
Thanks for pointing this out @alperenbabagil , I'm a little busy this weekend so if you can create a PR for this I'll be happy to review it.

[2020-07-04 11:07] alperenbabagil commented on #48
Hi Jude,
I cannot push a new branch

[2020-07-04 12:11] judemanutd commented on #48
[Fork & Create a PR](https://www.freecodecamp.org/news/how-to-make-your-first-pull-request-on-github-3/)

[2020-07-04 13:27] alperenbabagil commented on #48
Man.. I mean you must allow pushing new branch

[2020-07-10 10:28] Xxshark888xX commented on #48
I've fixed the code in the pull request below

https://github.com/judemanutd/AutoStarter/pull/46

[2020-07-13 01:23] Hardikverma opened #49 "How to check if got the permission successfully?"
After we navigate the user to the setting how to check if user successfully provided the permission.

And secondly is there way by which we can scroll user to the app after navigating to setting or if there any way to sort app by alphabet that would be very helpful our app name starts with 'U' me myself got sick scrolling for that long how user would not be.

It would be highly appreciated if ther

[2020-07-13 05:02] judemanutd commented on #49
As described in https://github.com/judemanutd/AutoStarter/issues/4 these aren't standard apis provided by google so there is no public api that can be called to check the state, this is something your app needs to keep track of. Scrolling again isn't something I have looked at and doesn't seem likely because the library merely checks the phone to see if a package exists with a particular name and

[2020-08-05 21:20] AniG007 commented on #14
Not working for Oppo A3S (CPH1803). I Will update if I come across any other solution. Thanks for putting this library out.

[2020-08-18 06:37] thehannanshaikh opened #50 "How can I check Permission in already granted or not"
I want to check that autostart permission in granted or not, if not then I want user to navigate to autostart page
can you help me how can do that? also how can I use this library any tutorial about that

[2020-08-19 16:44] Prometheus3k commented on #14
I've made a pull request for the Oppo Rx17 Neo (and Rx17 Pro) running ColorOS 5.2.
For these devices, the "Allow Auto Start" switch is within the App Info itself (long press on your app icon). My fix is on a per device basis (value of Build.Product).
If the solution for your Oppo is this, check out PR #51 and if it gets merged, add your device into the list.

[2020-08-26 08:42] Partha-Sarker opened #53 "Realme 3 auto statup intent."
I've realme 3 and it is not supported. I want to know how can I figure out the intent name for startup manager? I can open the startup manager from settings but don't know the name to open it programmatically.

[2020-08-26 14:11] Prometheus3k commented on #53
Manually open the StartupManager so it's displayed on your devices screen.
then in terminal run this
 adb shell dumpsys window windows | grep -E 'mCurrentFocus|mFocusedApp|mObscuringWindow'

You should get some output like below:

The bit in the middle tells you how you create an intent to possibly launch it.
e.g.
[code]

Please note though, some devices are now blocking the launch of StartupManag

[2020-08-26 14:16] Prometheus3k opened #54 "Demo app on playstore"
Hi there,

I'd like to recommend the demo app from this project is published to the Google Play Store. I say this because it's important to use the app to test on device and some users we have aren't comfortable sideloading APKs (they are not devs) but they do have devices and know how to install. Obviously respecting the original author's work so best the app comes from this repository.

[2020-08-26 14:18] Prometheus3k commented on #12
@Narasimham1220  see my comment here
https://github.com/judemanutd/AutoStarter/issues/53#issuecomment-680904717

[2020-08-26 14:31] Partha-Sarker commented on #53
Thanks,  will check this out.

[2020-08-26 14:31] #53 closed

[2020-08-26 19:46] judemanutd commented on #54
Hey @Prometheus3k that's a good idea, I have been meaning to get around to actually implementing this. I could possibly have google analytics connected to it or have some sort of open system where only the package names are collected and no user information. This of course might be a bit concerning to the user so I do need to think of a way to make the user feel comfortable with the decision. Feel

[2020-08-27 00:03] Prometheus3k commented on #54
I don't think you need Google analytics here.

Just need to collect device hardware info (like my recent PR logging) and let the user run the test. If all checks fail, prompt the user to report the failure which sends device info to some backend. You can then build up a database of devices that failed for further investigation later.

[2020-08-30 17:41] Qurexhi opened #55 "how can implement?"
brother how can implement autostarter in other project?
means how call autostarter in main activity

[2020-08-31 08:07] j4zib commented on #45
[activities.txt](https://github.com/judemanutd/AutoStarter/files/5149076/activities.txt)

[2020-09-10 18:10] divyeshsachan commented on #45
I confirm this issue on OnePlus 6T.
I also spent hours finding activity associated with battery optimization, but failed.
Log generated using "adb shell dumpsys activity" didn't helped.

[2020-09-24 02:53] fukemy opened #56 "Sharp Aquos s2 auto start"
Hi, my device is SharpAquos s2, do you find the intent class name to check autostart

[2020-10-03 21:48] KieronQuinn commented on #45
[code]

Will get an intent for the OnePlus Battery Optimisation settings with the app selected on newer devices.

[2020-12-09 22:36] omranjamal commented on #41
+1

[2020-12-22 09:28] Mr-Ramzan commented on #47
sorry to bother you, but I was struggling with a similar issue and came across your comment.
I executed the command after finding the culprit app (PhoneMaster->Toolbox->Autostart-Management).

        `"com.transsion.phonemaster/com.cyin.himgr.autostart.AutoStartActivity"    `

can you help what to do next ?

[2020-12-22 10:32] Mr-Ramzan commented on #47
Looking further as I am getting error component not found I came Accross setting in the settings app of system it has Autostart management Button there in the security Tab. I executed command after going in to that activity and got new package name you can see below

     `act=com.mediatek.autobootcontroller.AUTO_BOOT flg=0x10000000 cmp=com.mediatek.autobootcontroller/.AutoBootAppManageActivity `

[2021-01-06 18:46] chrisonline commented on #33
@judemanutd I get the same on a Samsung Galaxy S8. So I have checked how the activity name is.
Instead of com.samsung.android.sm.ui.battery.BatteryActivity
It is com.samsung.android.sm.battery.ui.BatteryActivity!

So either they have changed this or it was always false ;-)

[2021-01-06 18:47] chrisonline commented on #37
Hey @judemanutd !

See my comment to #33 it seems the activity name is wrong or was changed.

[2021-01-27 10:23] nicemak commented on #55
`val autoStartAvailable = AutoStartPermissionHelper.getInstance().isAutoStartPermissionAvailable(this)
val success = AutoStartPermissionHelper.getInstance().getAutoStartPermission(this@MainActivity)
var message = "Failed"
if (success) message = "Successful"

Toast.makeText(this@MainActivity, "Supports AutoStart: $autoStartAvailable, Action $message", Toast.LENGTH_SHORT).show()`

[2021-01-27 22:10] Kassan424kh opened #61 "check if autostart permission is active for my app"
Every time i open the app, it would open autostart settings window, how can I check if the `autostart` permission is selected before open the `settings` window?
do you have any idea?

[code]

[2021-03-31 06:28] arnab-kundu opened #64 "Support for Realme devices"
This is repo is very helpfull and working as per the README mentioned devices. But I am looking for the same in `realme` device.

[2021-03-31 06:32] arnab-kundu commented on #64
FYI. [realme](https://www.realme.com/in/) is using coloros. I was doing some RND the package name I found is `com.coloros.safecenter`

[2021-03-31 07:33] judemanutd commented on #61
Closing since this is a duplicate of #4 , given that these aren't standard android apis, there is no way of knowing this information.

[2021-03-31 07:33] #61 closed

[2021-03-31 07:33] #50 closed

[2021-03-31 07:34] #49 closed

[2021-03-31 07:35] judemanutd commented on #55
Hey @Qurexhi I don't think I get your question, could you elaborate a little more of what exactly you're trying to do and how its different from the sample provided already.

[2021-03-31 07:37] judemanutd commented on #64
That's great @arnab-kundu . Unfortunately since I don't have access to these phones, I cannot really test this out but I would be glad to review a PR that integrated this phone into the library.

[2021-03-31 07:41] #55 closed

[2021-04-01 16:08] arnab-kundu commented on #64
@judemanutd could me tell me how do you find this `AutoStartActivity's` fully qualified `package name` for these devices. Please let me know if any tool you have used for this. I have tried with `android studio's` `logcat` and [Appuim](https://appium.io/) tool but no luck yet.
`PACKAGE_XIAOMI_COMPONENT = "com.miui.permcenter.autostart.AutoStartManagementActivity"`
or
`PACKAGE_HONOR_COMPONENT = "co

[2021-04-01 17:31] judemanutd commented on #64
Hey @arnab-kundu unfortunately there is no tool, atleast none that I have found. The way I found it for Xiaomi was pure luck. You need to switch the logcat to watch for all logs, and then watch the logs for any activity events that occurs while opening the autostart screen on your phone. The package could be a parent package so it might pop up a few screens before the autostart screen as well. Onc

[2021-04-06 10:13] GuillaumeBourge opened #65 "Android 11 policies"
Hi, thanks for this lib! :)
You did not mention about restrictions coming with Android 11 :
https://proandroiddev.com/how-to-get-users-installed-apps-in-android-11-b4a4d2754286

Maybe you can add in the manifest of the lib or add in the documentation ?

[2021-04-07 07:12] judemanutd commented on #65
Hey @GuillaumeBourge thanks so much for pointing this one out, it's been awhile since I have kept myself up to date with the changes in the android system but I will definitely take a look at this. Thank you

[2021-04-09 17:34] agent10 commented on #42
The same thing. I'm calling getAutoStartPermission() from foreground service and it cannot be done without FLAG_ACTIVITY_NEW_TASK for intent

[2021-04-10 19:10] judemanutd commented on #42
@agent10 I think #62 might resolve your issue here, I'm waiting on a slight modification to the PR after which I can accept the change

[2021-04-23 20:55] naimyag opened #66 "toLowerCase fail"
AutoStartPermissionHelper.kt
 ->getAutoStartPermission()

Build.BRAND.toLowerCase(Locale.getDefault())

When the phone locale is Turkish, the lowercase letter of "HUAWEI" returns "huaweı" and does not match.  So big "I" turns into Turkish little "ı", "i" doesn't.

https://stackoverflow.com/questions/11063102/using-locales-with-javas-tolowercase-and-touppercase

[2021-05-10 18:51] Ynnck123 opened #67 "OnePlus Android 11 fails to open ChainLaunchAppListActivity"
Hi, I tried the library on my One Plus 7 Pro with Android 11 (Oxygen OS 11.0.0.2GM21BA) installed.

The `isAutoStartPermissionAvailable()` succeeds but when I call  `getAutoStartPermission()` I get the following stacktrace.

[code]

I already tried to add the package to the [query element](https://developer.android.com/guide/topics/manifest/queries-element) in the AndroidManifest

[code]

and even

[2021-06-07 22:46] rmccondach opened #70 "Issue on Honor View 20"
This was working fine on my Honor View 20, however now I get a security exception.

I've ran the dump command and found the intent should be as below, but when I debug it says I need a permission adding:

intent.setComponent(new ComponentName("com.huawei.systemmanager", "com.huawei.systemmanager.appcontrol.activity.StartupAppControlActivity"));

The permission it is asking for is:
<uses-permission

[2021-07-07 04:16] ibrahimmubarok opened #73 "Not working on Lenovo A7000-a and Realme narzo"
Not working on Lenovo A7000-a and Realme narzo. Why isAutoStartPermissionAvailable(this) always false?

[2021-07-10 18:43] judemanutd commented on #29
Added support for this in https://github.com/judemanutd/AutoStarter/pull/69

[2021-07-10 18:43] #29 closed

[2021-07-10 18:43] #30 closed

[2021-07-10 18:43] judemanutd commented on #66
This should be resolved by https://github.com/judemanutd/AutoStarter/pull/69

[2021-07-10 18:43] #66 closed

[2021-07-10 18:44] judemanutd commented on #38
This should be resolved by https://github.com/judemanutd/AutoStarter/pull/69 but feel free to open the issue if it is not.

[2021-07-10 18:44] #38 closed

[2021-07-10 18:44] judemanutd commented on #42
This should be resolved by https://github.com/judemanutd/AutoStarter/pull/69

[2021-07-10 18:44] #42 closed

[2021-07-10 18:44] judemanutd commented on #37
This should be resolved by https://github.com/judemanutd/AutoStarter/pull/69 but feel free to open this issue back up in case it does not

[2021-07-10 18:44] #37 closed

[2021-07-10 18:45] judemanutd commented on #33
This should be resolved by https://github.com/judemanutd/AutoStarter/pull/69 but feel free to open this issue back up in case it does not

[2021-07-10 18:45] #33 closed

[2021-07-10 18:45] judemanutd commented on #36
This should be resolved by https://github.com/judemanutd/AutoStarter/pull/69 but feel free to open this issue back up in case it does not

[2021-07-10 18:45] #36 closed

[2021-07-10 18:45] judemanutd commented on #45
This should be resolved by https://github.com/judemanutd/AutoStarter/pull/69 but feel free to open this issue back up in case it does not

[2021-07-10 18:45] #45 closed

[2021-07-10 18:46] judemanutd commented on #67
This should be resolved by https://github.com/judemanutd/AutoStarter/pull/69 but feel free to open this issue back up in case it does not

[2021-07-10 18:46] judemanutd commented on #67
This should be resolved by https://github.com/judemanutd/AutoStarter/pull/69 but feel free to open this issue back up in case it does not

[2021-07-10 18:46] #67 closed

[2021-07-10 18:47] judemanutd commented on #65
This should be resolved by https://github.com/judemanutd/AutoStarter/pull/69 but feel free to open this issue back up in case it does not

[2021-07-10 18:47] #65 closed

[2021-07-10 18:47] judemanutd commented on #48
Closing this one since there is no activity

[2021-07-10 18:47] #48 closed

[2021-07-10 18:47] judemanutd commented on #41
This should be resolved by https://github.com/judemanutd/AutoStarter/pull/69 but feel free to open this issue back up in case it does not

[2021-07-10 18:47] #41 closed

[2021-07-10 18:48] judemanutd commented on #35
This should be resolved by https://github.com/judemanutd/AutoStarter/pull/69 but feel free to open this issue back up in case it does not

[2021-07-10 18:48] #35 closed

[2021-08-06 05:12] Lazy-Developer-here opened #75 "Use in Java Project"
Hi ,

How to call / use in java project .

I am unable to create Class object and call method .

in kotlin we can use
`    AutoStartPermissionHelper.getInstance().getAutoStartPermission(context)
`

in same way how can i use call in Java.

Thanks.

[2021-08-19 07:45] mravki opened #76 "SecurityException on Huawei HUAWEI nova 5T Android 10"
Hi, I got a Crash on Huawei HUAWEI nova 5T Android 10 (SDK 29):
`java.lang.SecurityException:
  at android.os.Parcel.createException (Parcel.java:2071)
  at android.os.Parcel.readException (Parcel.java:2039)
  at android.os.Parcel.readException (Parcel.java:1987)
  at android.app.IActivityTaskManager$Stub$Proxy.startActivity (IActivityTaskManager.java:3888)
  at android.app.Instrumentation.execSta

[2021-09-11 14:05] ponomarevlm commented on #43
Hello! I've found missing component for Honor 10 with EmUi 9:
`"com.huawei.systemmanager",
            "com.huawei.systemmanager.startupmgr.ui.StartupNormalAppListActivity"
  `

[2021-09-13 08:17] KristjanBulic commented on #75
Create Kotlin class inside your project:
[code]

and in bulid.gradle

[code]

[2021-09-13 10:51] d9j commented on #75
kotlin dependency bloating project

[2021-09-17 08:13] mrshafique opened #77 "App gets killed after enable then disable the auto start toggle from setting"
reproduce steps:
go to setting -> enable auto start toggle -> again disable auto start toggle -> go back -> app gets killed.
App should not get killed.
[Tested on MiUi 12 OS.]

[2021-10-19 10:25] jacklai24 opened #78 "Not working with ASUS Zenfon6"
Hi friend,

I used your solution but not work with ASUS Zenfon6. Is it package name already changed? Please help me, thank you.

[2021-10-21 08:48] jacklai24 commented on #78
Hi friend,

I found that when called to PackageExists function always returns false.
If I directly call startActivity and set component name in intent, it's work.
Do you have any ideas?
Thank you.

[2021-11-11 12:20] petrofahed opened #79 "Samsung Note 9 Android 10"
Hello,

My note 9 used to work but suddenly (looks like after some android SDK / NuGet updates) it is not working.

return true --> AutoStartPermissionHelper.Instance.IsAutoStartPermissionAvailable(Android.App.Application.Context);
return false --> AutoStartPermissionHelper.Instance.GetAutoStartPermission(Android.App.Application.Context);

any insight on how to fix this one? thank you for your hel

[2022-01-12 13:44] qasimabdani5 opened #80 "Realme Startup Need to be add"
Dear sir,
please add realme all mobile phones support and vivo also . vivo y51s also having issue of startup.

iam requesting you add realme and vivo support in your sdk or lib and update new version please

[2022-01-25 15:53] NoHarmDan opened #81 "Mistaking Battery Optimization for Autostart"
Hi, I'm still using the library and quite happy it's being updated, but there is one thing that I think was a completely wrong decision.

I updated from 1.0.8 to 1.1.0, hoping the new version would recognize that e.g. a OnePlus 6T does not have the Autostart settings and would return false on `autoStartPermissionHelper.isAutoStartPermissionAvailable(context)`. To mu surprise, it still returns true

[2022-01-26 08:59] NoHarmDan commented on #81
I gave up on trying to make it work with what is provided, forked and overhauled it to suit my needs. Feel free to get inspired by anything or don't, either way the changes are too great to make a pull request.
https://github.com/NoHarmDan/AutoStarter

And btw, one more thing - comparing installed packages may be a little contra productive performance-wise, considering the app that uses this libra

[2022-02-14 15:28] YasmineDwedar opened #82 "help"
is the purpose of this library to return whether the auto-start permission in enabled or disabled ?

[2022-03-24 04:53] Chandu4221 opened #83 "Support For Vivo (Y73) Device Needed"
Hello Team,

` AutoStartPermissionHelper.getInstance().isAutoStartPermissionAvailable(context)` returns `false` on vivo Y73 Device

**Device Specs**

1. Android Version 11
2. OS Version Funtouch OS 11.1 Global
3. Model V2059

[vivo Y73 detailed specs](https://www.gsmarena.com/vivo_y73-11022.php)

[2022-04-16 17:28] kitfist0 commented on #76
Huawei Nova 7i (JNY-LX2), Android 10

[code]

[2022-04-17 17:22] kitfist0 commented on #76
Huawei P30, Android 10

[code]

[2022-04-18 16:57] kitfist0 commented on #76
Huawei P30 Pro, Android 10

[code]

[2022-04-20 19:55] kitfist0 opened #84 "SecurityException: Permission Denial"
The code:
[code]
**Stack trace:**
[code]
**List of devices on which this happened:**

Huawei
- Nova 7 SE  (CDY-NX9B), Android 10
- Nova 7i (JNY-LX2), Android 10
- Nova 5i Pro (SPN-AL00), Android 10
- Nova 5T, Android 10
- Mate 30 Pro (LIO-L29), Android 10
- Mate 20 Pro, Android 10
- Mate 20 X (5G), Android 10
- P30, Android 10
- P30 Pro, Android 10
- Nova 9 (NAM-LX9), Android 11

Asus
- ZenFone Se

[2022-05-28 00:08] AR0011 commented on #84
# > > - Nova 5T, An[]- [ ] ()_~~~~_droid 10

[2022-05-31 08:43] AndroidDeveloperLB opened #85 "Request: return a list of special permissions of the current device, so that we could prepare an explanation before reaching it"
Currently we have `isAutoStartPermissionAvailable` , but this is only for the single permission of AutoStart, and even then it's for when the repository thinks it has some solution to start the Activity.

Sadly this doesn't even work in some cases, such as on Vivo devices (sample app crashed and showed it needs a permission that can't be granted: “com.vivo.permission.manage.permission.ACCESS”) .

[2022-07-28 13:36] bojanlozanovski77 commented on #81
Hey, I took a look at your forked version, it seems like you have provided a method for getting the right intent, and removed the intent with the action for the one plus device. Did you do any other changes?

Do you mind sharing:
0. Are you sure that there aren't any other inconsistencies within the library in terms of opening/checking auto start permission settings vs. battery optimization settin

[2022-09-19 16:41] drortirosh opened #86 "Brings up the wrong settings view on Samsung"
I want to bring up the "Never Sleeping Apps" dialog,
but this brings up the "Sleeping Apps" dialog...